* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.index {
    background-image: url(../assets/spotlit_display_interior_design_2204.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
}

html.index, body.index {
    height: 100%;
}

.nav-container-1 {
    font-family: "IBM Plex Sans", sans-serif;
}

.btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
}

.btn-icon-sm {
    width: 32px;
    height: 32px;
    padding: 0;
}

#carouselExampleCaptions .carousel-item {
  height: 360px;              
}

#carouselExampleCaptions .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;        
}


#carouselExampleCaptions .carousel-item img {
  filter: blur(4px);
  transform: scale(1.05);
}